{% extends 'login.html' %}

{% block content %}
<h1 class="p1">TIẾP NHẬN HỌC SINH</h1>

{% if err_msg %}
<div class="alert alert-danger">
    {{ err_msg }}
</div>
{% endif %}

<form action="/Tiepnhan" method="post">
    <p class="text1">*Vui lòng nhập đầy thông tin học sinh vào form sau</p>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <section class="card-item text-white" style="border-radius: 1rem">
                <div class="card-body p-5 ">
                    <div class="mb-md-5 pb-5">
                        <form action="#">
                            <h2 class="text-center text-white">HỒ SƠ HỌC SINH</h2>
                            <div class="container">
                                <div class="f-grid">
                                    <div class="f-grid-col">
                                        <div class='ht'>
                                            <label for="hoten" class="form-label">Họ tên:</label>
                                            <input type="text" class="form-control" id="hoten"
                                                   placeholder="hoten" name="hoten">
                                        </div>
                                    </div>
                                    <div class="f-grid-col">
                                        <div class='ht'>
                                            <label for="diachi" class="form-label">Địa chỉ:</label>
                                            <input type="diachi" class="form-control" id="diachi"
                                                   placeholder="diachi" name="diachi">
                                        </div>
                                    </div>
                                </div>
                                <div class="f-grid">
                                        <div class="f-grid-col">
                                            <label for="ngaysinh">Ngày sinh</label>
                                            <input type="date" name="ngaysinh" id="ngaysinh" value="">
                                        </div>

                                        <div class="f-grid-col">
                                            <div class='ht'>
                                                <label for="sdt" class="form-label">Số điện thoại:</label>
                                                <input type="sdt" class="form-control" id="sdt"
                                                       placeholder="sdt" name="sdt">
                                            </div>
                                        </div>
                                </div>
                                <div class="f-grid">
                                    <div class="f-grid-col">
                                        <div class='ht'>
                                            <label for="email" class="form-label">Email:</label>
                                            <input type="email" class="form-control" id="email"
                                                   placeholder="email" name="email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>
{% endblock %}
